
Feed-IT/nbproject/private/private.xml
Feed-IT/nbproject/project.properties
/Feed-IT/build/
/Feed-IT/dist/
*.properties
Feed-IT/nbproject/private/private.properties
Feed-IT/nbproject/genfiles.properties
Feed-IT/nbproject/build-impl.xml
